<title>Movie Search</title>

<div class="container">

	<h2>Find a Movie!</h2>

	<form class="form-inline" role="form" action="/result" method="post">
	  <div class="form-group">
	    <label class="sr-only" for="movie">Movie:</label>
	    <input type="text" class="form-control" id="movie" name="movie" placeholder="Enter movie title">
	  </div>
	  
	  <button name="commit" type="submit" class="btn btn-default" style="background-color:green; color: white;">Search</button>
	</form>

</div>




