body {
	background-color: #EBF4FA;
	text-align: center;
}

img {
	padding: 1px;
	border: 2px solid #021a40;
	margin-bottom: 30px;
}

h2 {
	text-align: center;
	margin-bottom: 30px;
}

table {
	text-align: left;
	margin: 0 auto;
}

.new_search_link {
	margin-top: 30px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}